.box{
    margin: 150px auto;
    height: 300px;
    width: 800px;
}
.atas{
    height: 40px;
    width: 750px;
    background-color: blue;
}
.kiri{
    height: 250px;
    width: 300px;
    float: left;
    background-color: #ccc;
}
.gambar{
   
    height: 180px;
    width: 180px;
    margin-top: 30px;
    margin-left: 50px;
    background-image: url(toni.jpg);
   
    
}
.kanan{
    width: 450px;
    height: 250px;
    background-color: #ccc;
    float: left;
}